{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/(types|context)(/.*)?$",
    "^@/(utils|hooks|components)(/.*)?$",
    "^@mui/",
    ".*"
  ]
}
